*,
*::before,
*::after{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-family: 'Montserrat', sans-serif;
   width: 100%;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background: linear-gradient(45deg, #eef4d2, #fb8883);
}

.body__write{
   display: block;
   position: relative;
   z-index: 2;
   width: 600px;
   text-align: center;
   background: linear-gradient(45deg, rgba(255, 255, 255, .5), rgba(197, 145, 145, 0.2));
   backdrop-filter: blur(15px);
   padding: 50px;
   border-radius: 10px;
}
.body__sirc-1{
   display: block;
   position: absolute;
   z-index: -1;
   width: 200px;
   height: 200px;
   border-radius: 50%;
   background: linear-gradient(60deg, #eff8c5, #fa7e77);
   bottom: 100px;
   left: 300px;
}
.body__sirc-2{
   display: block;
   position: absolute;
   z-index: -1;
   width: 200px;
   height: 200px;
   border-radius: 50%;
   background: linear-gradient(135deg, #eff8c5 , #fa7e77 70%);
   top: 100px;
   right: 300px;
}

.body__write h1{
   margin-bottom: 20px;
   color: #1e5b53;
}

.body__write p{
   line-height: 24px;
   color: #777;
   letter-spacing: 1.2px;
}